<!DOCTYPE html>
<html>

<head>
	<title>foto film</title>
	 <link rel="stylesheet" href="/css/stile.css?version=3" />  
</head>


<body>
	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1>Foto per il film <span th:text="${movie.title}"> </span> </h1>
	<div>
		<span>Foto: </span>
		<br>
		<img th:src="@{${foto_aggiunta.relativePath}}" style="max-width: 20%;"/> 
	</div>
	<div/> <a th:href ="@{'/movies' + '/'  + ${movie.id}}"><button>Torna alla scheda del film</button></a></div>	
	<form>
 <input type="button" value="Indietro" onclick="history.back()">
</form>
	

	
	
</body> 
</html>