<!DOCTYPE html>
<html>
  <head>
    <title>Conferma cancella recensione</title>
	<link rel="stylesheet" href="/css/stile.css?version=2" />
</head>

<body>
	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
    <div th:if="${review}">
 	  <h1>Sei sicuro di voler eliminare questa recensione "<u style="color:red"> <span th:text="${review.title}"> </span> </u>" verranno eleminitate tutte le informazioni su quest ultima</h1> 

			</div>


       <div th:unless="${review}">Non esiste</div>
          <div>  <br>
  	<a th:href="@{'/admin'+'/EliminaReview' + '/' + ${movie.id} + '/' + ${review.id}}">
    <button style="color:red">Elimina Recensione</button>
</a> </div>
   
  </body>
</html>