<!DOCTYPE html>
<html>

<head>
	<title>
		Aggiorna film
	</title>
	<link rel="stylesheet" href="/css/stile.css?version=3" />
</head>

<body>
	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1>Aggiorna il film</h1>
	<h3>Lascia vuote le caselle dei dati che non vuoi modificare</h3>
  
	<form th:action="@{'/admin/formModificaFilm/'  + ${movieog.id} }" method="POST" th:object="${movie}">
		<div>
			<span th:text="${messaggioErrore}">Errore</span>
		</div>
		
 	 
		<div>
			<label for="titolo">Titolo:</label> <span><input   type="text" th:field="${movie.title}" 
			 th:placeholder="${movieog.title}" id="title" name="title"/></span>
		</div>

		<div>
			<label for="anno">Anno:</label> <span><input   type="text" th:field="${movie.year}" 
			th:placeholder="${movieog.year}" id="year" name="year"/></span>
		</div>

		
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>