<!DOCTYPE html>
<html>

<head>
	<title>
		Aggiorna artista 
	</title>
	<link rel="stylesheet" href="/css/stile.css?version=3" />
</head>

<body>
	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1>Aggiorna l'artista</h1>
	<h3>Lascia vuote le caselle dei dati che non vuoi modificare</h3>
  
	<form th:action="@{'/admin/formModificaArtista/'  + ${artistog.id} }" method="POST" th:object="${artist}" enctype="multipart/form-data">
		<div>
			<span th:text="${messaggioErrore}">Errore</span>
		</div>
		
 	 
		<div>
			<label for="nome">Nome:</label> <span><input   type="text" th:field="${artist.nome}" 
			 th:placeholder="${artistog.nome}" id="nome" name="nome"/></span>
		</div>
		
			<div>
			<label for="cognome">Cognome:</label> <span><input   type="text" th:field="${artist.cognome}" 
			 th:placeholder="${artistog.cognome}" id="cognome" name="cognome"/></span>
		</div>
		
		
			<div>
			<label for="data nascita">Data di nascita:</label> <span><input   type="date" th:field="${artist.data_nascita}" 
			 th:placeholder="${artistog.data_nascita}" id="data_nascita" name="data_nascita"/><span> data attuale: </span><span th:text="${artistog.data_nascita}"> data attuale</span></span>
		</div>


	<div>
			<label for="data morte">Data di morte:</label> <span><input   type="date" th:field="${artist.data_morte}" 
			 th:placeholder="${artistog.data_morte}" id="data_morte" name="data_morte"/><span> data attuale: </span><span th:text="${artistog.data_morte}"> data attuale</h5></span>
		</div>

		<div th:if="${artist.fotoPath}">Foto attuale artista: <br> <span><img th:src="@{${artist.fotoPath}}" style="max-width: 20%;"/>  </span> </div>
		
    <div> 
    <label>Aggiorna foto: </label>
    <input type="file" name="image" accept="image/png, image/jpeg" />
    </div>
		
		
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>