<!DOCTYPE html>
<html>

<head>
	<title>Aggiorna Attori</title>
	 <link rel="stylesheet" href="/css/stile.css?version=2" />  
</head>

<body>
	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	
<h1>Attori del film <span th:text="${movie.title}"> </span>: </h1>
		<div th:if="${movie.actors.isEmpty()}">Non ci sono attori per questo film</div>
	<ul>
		<li th:each="artist : ${movie.actors}">
		<div> <span th:href="@{'/artists' + '/' + ${artist.id}}"
				th:text="${artist.nome} + ' (' + ${artist.cognome} + ')'">Quentin fratm</span> 
				<a th:href ="@{'/admin'+'/removeActorFromMovie' + '/' + ${artist.id} + '/' + ${movie.id}}"><button>cancella</button></a></div>	
		</li>	
	</ul> 

	<h1>Attori disponibili:</h1>
	<div th:if="${artists.isEmpty()}">Non ci sono artisti nel sistema</div>
	
	<ul>
		<li th:if ="!${#lists.contains(movie.actors, artist)}" th:each="artist : ${artists}">
<div/><span th:text="''+${artist.nome} +' '+ ${artist.cognome} + ''"></span> <a th:href ="@{'/admin'+'/addActorToMovie' + '/' + ${artist.id} + '/' + ${movie.id}}"><button>aggiungi</button></a></div>			
		</li>
	</ul>

<div/> <a th:href ="@{'/admin'+'/formUpdateMovie' + '/'  + ${movie.id}}"><button>Modifica Completata</button></a></div>				
	
</body>

</html>