<!DOCTYPE html>
<html>

<head>
	<title>
		New Movie
	</title>
	<link rel="stylesheet" href="/css/stile.css?version=3" />
</head>

<body>
	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1>Scrivi la tua recensione per il film <span th:text="${movie.title}"> </span>: </h1> 

    <div th:unless="${movie}">Prima di scrivere una recensione devi scegliere un film su cui farla</div>

	
      <form th:action="@{'/reviewRiepilogo' + '/' + ${movie.id}}" method="POST" th:object="${review}">
			<div>
			<span th:text="${messaggioErrore}">Errore</span>
		</div>
	
		<div>
			<label for="titolo">Titolo:</label> <span><input required type="text" th:field="${review.title}" id="title"/></span>
		</div> 
		<div>
			<label for="testo">Testo:</label> <span><input required type="text" th:field="${review.testo}" id="testo"/></span>
		</div> 
		
		<div>
			<label for="valutazione">Voto (intero fra 1 e 5):</label> <span><input required type="number" th:field="${review.valutazione}" id="voto"  min="1" max="5" inputmode="numeric" placeholder="Voto del film" step="1" /></span>
		</div> 

		
		<div>
			<span><button type="submit">Conferma</button></span>
		</div> 
	</form>
</body>

</html>