<!DOCTYPE html>
<html>

<head>
	<title>Film</title>
	<link rel="stylesheet" href="/css/stile.css?version=2" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<script src="/js/bootstrap.bundle.min.js"></script>
	</head>
	<body style="text-align:center;">
		<header>
			<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
				<div class="container-fluid">
					<a class="navbar-brand" href="/">
						SIW - MOVIE
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarText">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="#">Home</a>
							</li>
						</ul>
						<span class="navbar-text">
							<span th:if="${#request.userPrincipal}">
								<span th:text="${#request.userPrincipal.principal.username}"></span>
								<a class="btn btn-primary" type="button" href="/logout">Logout</a>
							</span>
							<span th:unless="${#request.userPrincipal}">
								<span class="d-grid gap-2 d-md-flex justify-content-md-end">
								  <a class="btn btn-primary me-md-2" type="button" href="/register">Register</a>
								  <a class="btn btn-primary" type="button" href="/login">Login</a>
								</span>
							</span>
						</span>
					</div>
				</div>
			</nav>
		</header>
	
	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1>Film che soddisfano i requisiti</h1>
	<div th:if="${movies.isEmpty()}">Non ci sono film che soddisfano i requisiti</div>
	<ul th:if="${!movies.isEmpty()}">
		<li th:each="movie : ${movies}">
			<a href="movie.html" th:href="@{'/movies' + '/' + ${movie.id}}"
				th:text="${movie.title} + ' (' + ${movie.year}+')'">Up! (2000)</a>
		</li>
	</ul>
</body>

</html>