<!DOCTYPE html>
<html>
  <head>
    <title>Film</title>
	<link rel="stylesheet" href="/css/stile.css?version=2" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<script src="/js/bootstrap.bundle.min.js"></script>
	</head>
	<body style="text-align:center;">
		<header>
			<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
				<div class="container-fluid">
					<a class="navbar-brand" href="/">
						SIW - MOVIE
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarText">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="#">Home</a>
							</li>
						</ul>
						<span class="navbar-text">
							<span th:if="${#request.userPrincipal}">
								<span th:text="${#request.userPrincipal.principal.username}"></span>
								<a class="btn btn-primary" type="button" href="/logout">Logout</a>
							</span>
							<span th:unless="${#request.userPrincipal}">
								<span class="d-grid gap-2 d-md-flex justify-content-md-end">
								  <a class="btn btn-primary me-md-2" type="button" href="/register">Register</a>
								  <a class="btn btn-primary" type="button" href="/login">Login</a>
								</span>
							</span>
						</span>
					</div>
				</div>
			</nav>
		</header>
	
	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
    <div th:if="${movie}">
	    <h1 th:text="${movie.title}">Dettagli Film</h1>
	    
	    
	    
		<div th:if="${media}"> 
		<sapn>
			<h2>Media recensioni  &nbsp; &nbsp;
				<image th:if="${media_arrotondata} ==1" src="/images/1_star.png" width="7.5%" height="1.4%"> </image>  <!-- media 1 -->
				<image th:if="${media_arrotondata} ==1.5" src="/images/1.5_star.png" width="7.5%" height="1.4%"> </image> <!-- media 1.5 -->
				<image th:if="${media_arrotondata} ==2" src="/images/2_star.png" width="7.5%" height="1.4%"> </image> <!-- media 2-->
				<image th:if="${media_arrotondata} ==2.5" src="/images/2.5_star.png" width="7.5%" height="1.4%"> </image> <!-- media 2.5 -->
				<image th:if="${media_arrotondata} ==3" src="/images/3_star.png" width="7.5%" height="1.4%"> </image> <!-- media 3 -->
				<image th:if="${media_arrotondata} ==3.5" src="/images/3.5_star.png" width="7.5%" height="1.4%"> </image> <!-- media 3.5 -->
				<image th:if="${media_arrotondata} ==4" src="/images/4_star.png" width="7.5%" height="1.4%"> </image> <!-- media 4 -->
				<image th:if ="${media_arrotondata} ==4.5" src="/images/4.5_star.png"  width="7.5%" height="1.4%">  </image> <!-- media 4.5 -->
				<image th:if ="${media_arrotondata} ==5" src="/images/5_star.png"  width="7.5%" height="1.4%">  </image> <!-- media 5 -->

</sapn></h2> </div>
	    	    



        <div>Anno: <span th:text="'(' + ${movie.year} + ')'">2000</span></div>
        <div th:if="${registra}"> 
      <h3> <a th:href="@{'/artists' + '/' + ${registra.id}}"> Registra: <span th:text="${registra.nome} + ' (' + ${registra.cognome} + ')' ">nome registra</span></a> </div></h3> 
		</div> 
		<div th:if="${movie.actors  != null}" > 
<h3>Attori del film: </h3>
		<div th:if="${movie.actors.isEmpty()}">Non ci sono attori per questo film</div>
	<ul>
		<li th:each="artist : ${movie.actors}">
			<a th:href="@{'/artists' + '/' + ${artist.id}}"
				th:text="${artist.nome} + ' (' + ${artist.cognome} + ')'">Quentin fratm</a>
		</li>	
	</ul>
         </div>
         <div th:if="${movie.foto  != null}"> 
  <h3>Foto del film: </h3>
		<div th:if="${movie.foto.isEmpty()}">Non ci sono foto per questo film</div>
	<ul>
		<span th:each="foto : ${movie.foto}">
			<img th:src="@{${foto.relativePath}}" style="max-width: 20%;"/> 
			<span> &nbsp; &nbsp; &nbsp;</span>
		</span>	
	</ul>
       </div>
      
    </div>
    <div th:unless="${movie}">Non esiste</div>
    
    
    	<div th:if="${#request.userPrincipal}">
			<span><a th:href="@{'/formNewReview' + '/' + ${movie.id}}">Aggiungi una recensione per questo film!</a> se hai scritto una recensione per questo film la troverai qui.</span>
		</div>
		<a th:href="@{'/reviewsDelFilm' + '/' + ${movie.id}}">Visualizza le recensioni di questo film!</a>
  </body>
</html>
