<!DOCTYPE html>
<html>
  <head>
    <title>Presidente</title>
	<link rel="stylesheet" href="/css/stile.css?version=2" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<script src="/js/bootstrap.bundle.min.js"></script>
	</head>
	<body style="text-align:center;">
		<header>
			<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
				<div class="container-fluid">
					<a class="navbar-brand" href="/">
						SIW - SQUADRE
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarText">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="#">Home</a>
							</li>
						</ul>
						<span class="navbar-text">
							<span th:if="${#request.userPrincipal}">
								<span th:text="${#request.userPrincipal.principal.username}"></span>
								<a class="btn btn-primary" type="button" href="/logout">Logout</a>
							</span>
							<span th:unless="${#request.userPrincipal}">
								<span class="d-grid gap-2 d-md-flex justify-content-md-end">
								  <a class="btn btn-primary me-md-2" type="button" href="/register">Register</a>
								  <a class="btn btn-primary" type="button" href="/login">Login</a>
								</span>
							</span>
						</span>
					</div>
				</div>
			</nav>
		</header>
	
	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
    <div th:if="${presidente}">
	    <h1 th:text="${presidente.nome}">Nome del presidentea</h1>
        <div>Cognome: <span th:text="'(' + ${presidente.cognome} + ')'">lello</span></div>
        <div th:if="${presidente.dataNascita}">Data di nascita: <span th:text="'(' + ${presidente.dataNascita} + ')'">data nascita 12/555/666</span></div>
        <div th:if="${presidente.luogoNascita}">Luogo di nascita: <span th:text="'(' + ${presidente.luogoNascita} + ')'">luogo nascita</span></div>
		<div th:if="${presidente.idSquadra}">
			<a th:href=" @{'/gestioneSquadre/squadra' + '/'  + ${presidente.idSquadra}  }">
				<button style=" color:blue">Vai alla squadra del presidente</button>
			</a> </div>

	</div>
    
    
    
 
    
   <div th:if="${admin}">
       	   	<a th:href=" @{'/admin'+'/modificapresidentea' + '/'  + ${presidente.id}  }">
    <button style=" color:blue">Modifica dati presidentea</button>
</a> </div> 
    
    
<div th:if="${admin}">
       	   	<a th:href=" @{'/admin'+'/confermaEliminapresidentea' + '/'  + ${presidente.id}  }">
    <button style=" color:red">Cancella presidentea</button>
</a> </div>


  </body>
</html>