<!DOCTYPE html>
<html>
<!-- SE L'USER CORRENTE HA SCRITTO UNA RECENSIONE DI STO FILM ALL'INZIO CI DEVE STA SCRITTO UN LINK CHE PORTA A QUELLA
RECENSIONE CHE HA FATTO LUI   -->
<head>
	<title>Recensioni del Film</title>
	<link rel="stylesheet" href="/css/stile.css?version=2" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<script src="/js/bootstrap.bundle.min.js"></script>
	</head>
	<body style="text-align:center;">
		<header>
			<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
				<div class="container-fluid">
					<a class="navbar-brand" href="/">
						SIW - MOVIE
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarText">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="#">Home</a>
							</li>
						</ul>
						<span class="navbar-text">
							<span th:if="${#request.userPrincipal}">
								<span th:text="${#request.userPrincipal.principal.username}"></span>
								<a class="btn btn-primary" type="button" href="/logout">Logout</a>
							</span>
							<span th:unless="${#request.userPrincipal}">
								<span class="d-grid gap-2 d-md-flex justify-content-md-end">
								  <a class="btn btn-primary me-md-2" type="button" href="/register">Register</a>
								  <a class="btn btn-primary" type="button" href="/login">Login</a>
								</span>
							</span>
						</span>
					</div>
				</div>
			</nav>
		</header>
	
	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	
    <div th:if="${movie}">
<h1>Recensioni del film <span th:text="${movie.title}"> </span>: </h1> 
	<div th:if="${#request.userPrincipal}">
			<a th:href="@{'/formNewReview' + '/' + ${movie.id}}">Aggiungi una recensione per questo film!</a>
		</div>
<h3>Clicca sul titolo della recensione per visualizzarla in dettaglio</h3>
	<div th:if="${reviews.isEmpty()}">Non ci sono recensioni per questo film!</div>
	<ul th:if="${!reviews.isEmpty()}">
		<li th:each="review : ${reviews}">
			        <sapn> 	   <h3>Titolo: <a th:href="@{'/review' + '/' + ${review.id} + '/' + ${movie.id}}"> <span th:text="${review.title}"> </span> &nbsp; &nbsp;</a>
		   <image th:if ="${review.valutazione} ==1 " src="/images/1_star.png"  width="7.5%" height="1.4%">  </image>
       	   <image th:if ="${review.valutazione} ==2 " src="/images/2_star.png"  width="7.5%" height="1.4%">  </image>
       	   <image th:if ="${review.valutazione} ==3 " src="/images/3_star.png"  width="7.5%" height="1.4%">  </image>  <!-- voti delle recensioni con le stelline-->
       	   <image th:if ="${review.valutazione} ==4 " src="/images/4_star.png"  width="7.5%" height="1.4%">  </image>
       	   <image th:if ="${review.valutazione} ==5 " src="/images/5_star.png"  width="7.5%" height="1.4%">  </image> </sapn></h3> 
       	<!--   <h3>Voto recensione: <span th:text="${review.valutazione}"> </span></h3> -->
       	 

       	   <h3>Testo recensione: <span th:text="${review.testo}"> </span></h3> 
		</li>
	</ul> 
	  
	</div>    <div th:unless="${movie}">Film non trovato!</div>


</body>

</html>