<!DOCTYPE html>
<html>
  <head>
    <title>Squadra</title>
	<link rel="stylesheet" href="/css/stile.css?version=2" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<script src="/js/bootstrap.bundle.min.js"></script>
	</head>
	<body style="text-align:center;">
		<header>
			<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
				<div class="container-fluid">
					<a class="navbar-brand" href="/">
						SIW - SQUADRE
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarText">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="#">Home</a>
							</li>
						</ul>
						<span class="navbar-text">
							<span th:if="${#request.userPrincipal}">
								<span th:text="${#request.userPrincipal.principal.username}"></span>
								<a class="btn btn-primary" type="button" href="/logout">Logout</a>
							</span>
							<span th:unless="${#request.userPrincipal}">
								<span class="d-grid gap-2 d-md-flex justify-content-md-end">
								  <a class="btn btn-primary me-md-2" type="button" href="/register">Register</a>
								  <a class="btn btn-primary" type="button" href="/login">Login</a>
								</span>
							</span>
						</span>
					</div>
				</div>
			</nav>
		</header>
	
	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
    <div th:if="${squadra}">
	    <h1 th:text="${squadra.nome}">Dettagli squadra</h1>

        <div>Anno fondazione: <span th:text="'(' + ${squadra.annoFondazione} + ')'">2000</span></div>
        <div th:if="${squadra.presidente}">
      <h3> <a th:href="@{'/presidente' + '/' + ${squadra.presidente.id}}"> Presidente squadra: <span th:text="${squadra.presidente.nome} + ' (' + ${squadra.presidente.cognome} + ')' ">nome presidente</span></a> </h3></div>
		</div> 
		<div th:if="${squadra.tesserati  != null}" >
<h3>Giocatori della squadra: </h3>
		<div th:if="${squadra.tesserati.isEmpty()}">Non ci sono giocatori per questa squadra</div>
	<ul>
		<li th:each="giocatore : ${squadra.tesserati}">
			<a th:href="@{'/giocatore' + '/' + ${giocatore.id}}"
				th:text="${giocatore.nome} + ' (' + ${giocatore.cognome} + ')'">Quentin fratm</a>
		</li>	
	</ul>

      
    </div>
		<div th:if="${presidente}">
			<a th:href="@{'/gestioneSquadre/presidente/addGiocatoreToSquadra' + '/' + ${squadra.id}}"
			   th:text="'modifica componenti squadra'">Roma</a>
		</div>

		<div th:unless="${squadra}">Squadra non esiste</div>
	</body>
</html>
